In [2]:
import dask.dataframe as dd

In [3]:
# %%time
# Create 1B record file 
# !python3 createMeasurements2.py

In [4]:
file= "/Volumes/Crucial X6/1BRC/measurements.csv"
# df = pl.scan_csv(file, separator=";")
# df.collect()
# pl.LazyFrame.explain(optimized= True)
# print(df)

In [13]:
%%time
df = dd.read_csv(file, blocksize= 70e6, names= ["station_name", "measures"])
# df.shape[0].compute()

CPU times: user 10min 28s, sys: 2min 43s, total: 13min 11s
Wall time: 8min 13s

1000000000

In [6]:
df.head(10)

    station_name  measures
0       Timbuktu      25.4
1  Oklahoma City      11.5
2        Sapporo       9.7
3        Parakou      -1.5
4         Bilbao      20.6
5      Chongqing      -4.7
6         Dikson     -20.3
7         Burnie      18.4
8        Iqaluit       0.4
9   Fianarantsoa      17.8

In [8]:
%%time
result_df= df.groupby("station_name")["measures"].agg(["min", "max", "mean"]).sort_values(by= "station_name", ascending=True).compute()
result_df

CPU times: user 5min 30s, sys: 33.2 s, total: 6min 3s
Wall time: 2min 34s

                min   max       mean
station_name
Abha          -30.7  71.4  17.990876
Abidjan       -22.9  78.3  26.004887
Abéché        -19.9  82.9  29.392935
Accra         -22.0  77.8  26.410927
Addis Ababa   -31.3  66.7  15.994171
...             ...   ...        ...
Zagreb        -36.6  57.8  10.702868
Zanzibar City -24.0  74.4  25.995767
Zürich        -38.4  61.8   9.296889
Ürümqi        -48.4  57.9   7.396159
İzmir         -33.0  74.0  17.894191

[413 rows x 3 columns]

In [ ]:
# output result – .csv 
# path= "result.csv"
# result_df.to_csv(path, header= True)

In [15]:
print("Initial number of rows:", df.shape[0].compute())
print("Number of rows after groupby and aggregate:", result_df.shape[0])

Initial number of rows: 1000000000
Number of rows after groupby and aggregate: 413